* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    color: black;
}
/* Body */
body {
    background-color: #393939;
    height: 100vh;
    width: 100%;
}
/* CSS header.php */
.div-header {
    color: white;
    padding-bottom: 0.625em;
    gap: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #364156;
}
.eslogan, .div-header h1 {
    color: #CDCDCD;
}
.hr-nav {
    margin: 0 auto;
    width: 50%;
}
.div-nav {
    color: white;
    margin: 0 auto;
    width: 100%;
    background-color: #364156;
    padding-top: 0.9375em;
    padding-bottom: 1.5625em;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
}
li {
    list-style: none;
}
ul a {
    text-decoration: none;
    color: white;
}
.linea-nav {
    width: 0.0625em;
    height: 1.875em;
    background-color: white;
}
.div-sesion {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 1.875em;
    padding: 0 0.625em;
}
.persona {
    width: 1.25em;
    height: auto;
    margin-right: 0.3125em;
}
.cerrar-sesion {
    color: white;
    font-size: 0.875em;
}
.div-buscar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.buscar {
    text-align: center;
    padding: 0.3125em;
    flex: 1;
    border-radius: 0.3125em;
    border: 0.0625em solid #CDCDCD;
    margin-right: 0.3125em;
    min-width: 9.375em;
}
.lupa {
    background: none;
    border: none;
    cursor: pointer;
    width: 1.875em;
    height: 1.875em;
}
.lupa img {
    vertical-align: middle;
    width: 1.875em;
    height: 1.875em;
}
/* CSS footer.php */
footer {
    background-color: #364156;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-areas: "logo form form rrss";
    gap: 2em;
    padding: 1em;
    height: 40vh;
    color: white;
    letter-spacing: 0.1em;
}
footer h1, footer h2, footer p{
    color: #CDCDCD;
}
.logo-copyright {
    grid-area: logo;
    border-right: 0.0625em solid white;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo-copyright p {
    font-size: 0.5em;
}
.contacto {
    grid-area: form;
    margin: 1em;
    border-right: 0.0625em solid white;
    padding-right: 4em;
}
.formulario-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    margin-top: 0.3em;
    border-radius: 10%;
}
.formulario-contacto input {
    height: 2em;
}
.formulario-contacto textarea {
    resize: none;
}
.formulario-contacto textarea, .correo-contacto {
    background-color: #CDCDCD;
    border: none;
    border-radius: 0.3em;
    width: 100%;
}
.btn-contacto {
    width: 50%;
    background-color: #CDCDCD;
    border: none;
    border-radius: 0.3em;
}
.formulario-contacto textarea::placeholder, .formulario-contacto input::placeholder {
    padding-left: 0.2em;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.instagram, .twitter, .facebook {
    height: 3em;
}
.rrss {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: rrss;
    padding-right: 2em;
}
@media (max-width: 768px) {
    body {
        height: auto;
    }
    .div-header {
        flex-direction: column;
        height: auto;
        padding: 1em 0;
    }
    .hr-nav {
        width: 80%;
    }
    .div-nav {
        padding: 0.5em 0;
    }
    ul {
        flex-direction: column;
        gap: 0.5em;
    }
    .div-sesion {
        flex-direction: column;
        height: auto;
    }
    .buscar {
        min-width: 70%;
        margin-right: 0;
    }
    .lupa {
        width: 2.5em;
        height: 2.5em;
    }
    .linea-nav{
        display: none;
    }
    footer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "form"
            "rrss";
        padding: 1em;
        height: auto;
    }
    .logo-copyright {
        border-right: none;
        margin: 0.5em 0;
    }
    .contacto {
        border-right: none;
        padding-right: 0;
    }
    .formulario-contacto {
        width: 90%;
    }
    .btn-contacto {
        width: 80%;
    }
    .rrss {
        flex-direction: column;
        padding-right: 0;
    }
}