*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body{
    background-color: #393939;
    height: 100vh;
    width: 100%;
}
/*Aqui estoy modificando el header con el titulo de la empresa y su eslogan*/
.div-header{
    color: white;
    padding-bottom: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #364156;
}
.eslogan{
}
/*Aqui dejo de modificar el header*/
/*hr*/
.hr-nav{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 50%;
}
/*Aqui estoy modificando el nav*/
.div-nav{
    color: white;
    margin: 0 auto;
    width: 100%;
    background-color: #364156;
    padding-top: 15px;
    padding-bottom: 25px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
li{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: white;
}
.linea-nav {
    width: 1px;
    height: 30px;
    background-color: white;
}
.div-sesion {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 30px;
    padding: 0 10px;
}
.persona {
    width: 20px;
    height: auto;
    margin-right: 5px;
}
.cerrar-sesion {
    color: white;
    font-size: 14px;
}
.div-buscar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.buscar {
    text-align: center;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    min-width: 150px;
}
.lupa {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.lupa img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
/* aqui empiezo a modifiar el footer */
footer{
    background-color: #364156;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-areas:
    "logo form form rrss";
    gap: 2em;
    padding: 1em;
    height: 40vh;
    color: white;
    letter-spacing: .1em;
}
.logo-copyright{
    grid-area: logo;
    border-right: 1px solid white;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo-copyright p{
    font-size: .5em;
}
.contacto{
    grid-area: form;
    margin: 1em;
    border-right: 1px solid white;
    padding-right: 4em;
}
.formulario-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    margin-top: .3em;
    border-radius: 10%;
}
.rrss{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: rrss;
    padding-right: 2em;
}
.formulario-contacto input{
    height: 2em;
}
.formulario-contacto textarea{
    resize: none;
}
.formulario-contacto textarea, .correo-contacto{
    background-color: #cdcdcd;
    border: none;
    border-radius: .3em;
    width: 100%;
}
.btn-contacto{
    width: 50%;
    background-color: #cdcdcd;
    border: none;
    border-radius: .3em;
}
.formulario-contacto textarea::placeholder, .formulario-contacto input::placeholder{
    padding-left: .2em;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.instagram, .twitter, .facebook{
    height: 3em;
}
/*Usuario*/
.pagina-usuario{
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 1em;
    grid-template-areas: 
    ". respuestas respuestas datos"
    "acciones respuestas respuestas ."
    "acciones respuestas respuestas .";
    background-color: #393939;
    padding: 3em;
    text-align: center;
}
.foto-perfil{
    border-radius: 100%;
}
.div-foto-perfil{
    max-width: 100%;
    max-height: 100%;
}
.div-principal-respuestas{
    background-color: #364156;
    grid-area: respuestas;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr repeat(3, 1fr) 0.3fr;
    grid-template-areas: 
    "titulo titulo"
    ". ."
    ". ."
    ". ."
    "botones botones";
    padding: 1.7em;
    gap: 1em;
}
.datos-usuario{
    background-color: #364156;
    grid-area: datos;
    border-radius: 15px;
}
.acciones-usuario{
    background-color: #364156;
    grid-area: acciones;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}
.botones-respuestas{
    grid-area: botones;
}
.div-respuesta{
    background-color: #cdcdcd;
    max-width: 100%;
    border-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-like{
    width: 2em;
}
.img-dislike{
    width: 2em;
}
.likes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div-principal-respuestas h3{
    grid-area: titulo;
    color: #cdcdcd;
}
.btn-anterior, .btn-siguiente{
    text-decoration: none;
    color: #CDCDCD;
    background-color: #364156;
    padding: 0.4em 1em 0.4em 1em;
    border: 2px solid #CDCDCD;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}
.btn-anterior:hover, .btn-siguiente:hover{
    background-color: #CDCDCD;
    color: #393939;
}
a{
    text-decoration: none;
}

.ver-mas{
    color: #393939;
}
.link-acciones-usuario{
    background-color: #cdcdcd;
    color: #393939;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 15px;
}
.form-datos-usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}
.form-datos-usuario input{
    margin: 0.6em 0;
    border-style: none;
    border-radius: 15px;
    height: 2.5em;
    text-align: center;
}
.form-datos-usuario input:disabled{
    background-color: #adadad;
}
.foto-perfil{
    width: 12em;
}
.papelera_usuario{
    width: 2em;
    cursor: pointer;
}
.respuesta-usuario{
    background-color: #cdcdcd;
    overflow-wrap: anywhere;
}
.btn-eliminar-pregunta-usuario{
    background-color: #cdcdcd;
}
.btn-ver-mas{
    text-decoration: none;
    color: #364156;
    background-color: #cdcdcd;
    padding: 0.4em 1em 0.4em 1em;
    border: 2px solid #364156;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}

.btn-ver-mas:hover{
    background-color: #364156;
    color: #CDCDCD;
}

.btn-enviar-foto{
    text-decoration: none;
    color: #cdcdcd;
    background-color: #363636;
    padding: 0.4em 1em 0.4em 1em;
    border: 2px solid #cdcdcd;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}

.btn-enviar-foto:hover{
    background-color: #cdcdcd;
    color: #364156;
}