article {
    display: flex;
    justify-content: center;
    align-items: center;
}
.general form {
    width: 80%;
    height: 55vh;
}
.general {
    margin: 1.25em;
    border-radius: 1.25em;
    width: 50%;
    height: 60vh;
    background-color: #364156;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.archivoRespuesta {
    margin-top: 1.25em;
    color: #CDCDCD;
}
.parrafo-resp {
    font-size: 1.9em;
    margin-bottom: 1.875em;
    border: 0;
    background-color: #364156;
    text-align: center;
    color: #CDCDCD;
}
.id-hidden {
    visibility: hidden;
}
.area {
    width: 100%;
    height: 60%;
    resize: none;
    border-radius: 0.3125em 0.625em 0.625em 0.625em;
    font-size: 1.9em;
    background-color: #CDCDCD;
    border: 0.0625em solid white;
}
.segundo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.respuesta {
    width: 70%;
    height: 100%;
    background-color: #364156;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botones {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25em;
}
.botones input[type="submit"],
input[type="reset"] {
    width: 100%;
    height: 40%;
    background-color: #364156;
    border: 0.125em solid #CDCDCD;
    border-radius: 0.625em;
    color: #CDCDCD;
    transition: background-color 0.5s ease;
}
.botones input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #CDCDCD;
    color: #393939;
}
@media (max-width: 768px) {
    .general {
        width: 90%;
        height: auto;
        margin: 0.5em;
    }
    .general form {
        height: auto;
    }
    .parrafo-resp {
        font-size: 1.5em;
    }
    .area {
        font-size: 1.5em;
    }
    .respuesta {
        width: 90%;
    }
    .botones {
        width: 100%;
        flex-direction: column;
        gap: 0.5em;
    }
    .botones input[type="submit"], input[type="reset"] {
        height: auto;
        padding: 1em;
    }
}