.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #CDCDCD;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}
.button:hover::before {
    transform: scaleX(1);
}
.button-content {
    position: relative;
    z-index: 1;
}
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
            82.3deg,
            rgb(66, 155, 189) 10.8%,
            rgb(179, 28, 77) 94.3%
    );
    transition: all 0.475s;
}
.superiorRegistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #393939;
    margin: 2em auto;
    min-height: 70vh;
    width: 100%;
    color: #CDCDCD;
}
.Registro {
    display: block;
    text-align: center;
    background-color: #364156;
    width: 30%;
    height: 80%;
    box-shadow: 0.3em 0.3em 0.6em #DFF8EB56;
    border-radius: 1em;
    padding: 2em;
}
.Registro h1 {
    color: #CDCDCD;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.Registro hr {
    margin: 0 auto;
    width: 75%;
    height: 0.1em;
    background-color: #CDCDCD;
}
.campos {
    padding-top: 4.5em;
}
.registroNombre, .registroContrasenna, .registroCorreo {
    display: block;
    margin: 0 auto 1.5em auto;
    text-align: center;
    padding: 1.25em 2.5em;
    font-size: 1.25em;
    font-weight: bold;
    background-color: #CDCDCD;
    border-radius: 1em;
    box-shadow: 0.3em 0.3em 0.6em #393939;
}
.registroEntrar {
    display: block;
    margin: 0 auto 1.5em auto;
    text-align: center;
    padding: 1em 5em;
    font-size: 1.25em;
    font-weight: bold;
    background-color: #364156;
    border: 2px solid #CDCDCD;
    border-radius: 1.5em;
    box-shadow: 0.3em 0.3em 0.6em #393939;
    transition: background-color 0.5s ease;
    color: #CDCDCD;
}
.registroEntrar:hover{
    background-color: #CDCDCD;
    color: #393939;
}
/* Usuarios */
.pagina-usuario {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    grid-template-areas:
    ". respuestas respuestas"
    "acciones respuestas respuestas"
    "datos respuestas respuestas";
    background-color: #393939;
    padding: 3em;
    text-align: center;
}
.foto-perfil {
    border-radius: 50%;
}
.div-foto-perfil {
    max-width: 100%;
    max-height: 65%;
    margin: 1em 0 1em 0;
}
.div-principal-respuestas {
    background-color: #364156;
    grid-area: respuestas;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr repeat(3, auto) 0.3fr;
    grid-template-areas:
    "titulo titulo"
    ". ."
    ". ."
    ". ."
    "botones botones";
    padding: 1.7em;
    gap: 1em;
    box-shadow: 0.3125em 0.3125em 0.625em #DFF8EB56;
}
.datos-usuario {
    background-color: #364156;
    grid-area: datos;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    box-shadow: 0.3125em 0.3125em 0.625em #DFF8EB56;
}
.datos-usuario.visible {
    visibility: visible;
    opacity: 1;
}
.acciones-usuario {
    background-color: #364156;
    grid-area: acciones;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    box-shadow: 0.3125em 0.3125em 0.625em #DFF8EB56;
}
.botones-respuestas {
    grid-area: botones;
}
.div-respuesta {
    background-color: #CDCDCD;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}
.img-like, .img-dislike {
    width: 2em;
}
.likes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
}
.div-principal-respuestas h3 {
    grid-area: titulo;
    color: #CDCDCD;
}
.btn-anterior, .btn-siguiente {
    text-decoration: none;
    color: #CDCDCD;
    background-color: #364156;
    padding: 0.4em 1em;
    border: 0.125em solid #CDCDCD;
    border-radius: 1em;
    transition: background-color 0.5s ease;
}
.btn-anterior:hover, .btn-siguiente:hover {
    background-color: #CDCDCD;
    color: #393939;
}
.acciones-usuario a {
    text-decoration: none;
    background-color: #364156;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    transition: background-color 0.5s ease;
}
.acciones-usuario a:hover{
    background-color: #CDCDCD;
    color: #393939;
}
.ver-mas {
    color: #393939;
}
.link-acciones-usuario {
    background-color: #CDCDCD;
    color: #393939;
    padding: 0.5em 2em;
    border-radius: 1em;
}
.link-acciones-usuario img{
    height: 1.5em;
    width: 1.5em;
    float: right;
}
.form-datos-usuario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    width: 100%;
}
.form-datos-usuario input{
    margin: 0.6em 0;
    border-radius: 1em;
    height: 2.5em;
    text-align: center;
}
.form-datos-usuario input[type="text"] {
    border: 2px solid yellow;
    background-color: #CDCDCD;
    color: #393939;
}
.foto-perfil {
    width: 12em;
}
.papelera_usuario {
    width: 2em;
    cursor: pointer;
}
.respuesta-usuario {
    background-color: #CDCDCD;
    overflow-wrap: break-word;
    margin-top: 1em;
    max-height: 100%;
    overflow: auto;
}
.btn-eliminar-pregunta-usuario {
    background-color: #CDCDCD;
}
.btn-ver-mas {
    text-decoration: none;
    color: #364156;
    background-color: #CDCDCD;
    padding: 0.4em 1em;
    border: 0.125em solid #364156;
    border-radius: 1em;
    transition: background-color 0.5s ease;
}
.btn-ver-mas:hover {
    background-color: #364156;
    color: #CDCDCD;
}
.btn-enviar-foto {
    text-decoration: none;
    color: #CDCDCD;
    background-color: #363636;
    padding: 0.4em 1em;
    border: 0.125em solid #CDCDCD;
    border-radius: 1em;
    transition: background-color 0.5s ease;
}
.btn-enviar-foto:hover {
    background-color: #CDCDCD;
    color: #364156;
}
.img-respuesta-usuario{
    max-width: 50%;
    max-height: 60%;
}
.guardarDatos{
    background-color: #364156;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    transition: background-color 0.5s ease;
}
.guardarDatos:hover{
    background-color: #CDCDCD;
    color: #393939;
}
.contenido{
    height: 100%;
    width: 80%;
    background-color: unset;
    resize: unset;
}
.titulo_pregunta h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
@media (max-width: 768px) {
    .pagina-usuario {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .div-foto-perfil {
        order: 1;
        display: block;
        justify-content: center;
        margin-bottom: 1em;
    }
    .acciones-usuario {
        order: 2;
        padding: 1em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .acciones-usuario a{
        margin: 1em 0;
    }
    .datos-usuario {
        order: 3;
        margin-bottom: 1em;
        padding: 1em;
        display: flex;
        justify-content: center;
    }
    .div-principal-respuestas {
        order: 4;
        padding: 1em;
        background-color: #364156;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
    }
    .btn-anterior, .btn-siguiente, .link-acciones-usuario, .btn-ver-mas, .btn-enviar-foto {
        padding: 0.4em 0.8em;
        font-size: 0.9em;
    }
    .foto-perfil {
        width: 8em;
    }
}
.titulo-documento{
    padding-bottom: 0.8em;
}