.pagina-usuario{
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 1em;
    grid-template-areas:
    ". respuestas respuestas datos"
    "acciones respuestas respuestas ."
    "acciones respuestas respuestas .";
    background-color: #393939;
    padding: 3em;
    text-align: center;
}
.foto-perfil{
    border-radius: 100%;
}
.div-foto-perfil{
    max-width: 100%;
    max-height: 100%;
}
.div-principal-respuestas{
    background-color: #364156;
    grid-area: respuestas;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr repeat(3, 1fr) 0.3fr;
    grid-template-areas:
    "titulo titulo"
    ". ."
    ". ."
    ". ."
    "botones botones";
    padding: 1.7em;
    gap: 1em;
}
.datos-usuario{
    background-color: #364156;
    grid-area: datos;
    border-radius: 15px;
}
.acciones-usuario{
    background-color: #364156;
    grid-area: acciones;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}
.botones-respuestas{
    grid-area: botones;
}
.div-respuesta{
    background-color: #cdcdcd;
    max-width: 100%;
    border-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-like{
    width: 2em;
}
.img-dislike{
    width: 2em;
}
.likes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div-principal-respuestas h3{
    grid-area: titulo;
    color: #cdcdcd;
}
.btn-anterior, .btn-siguiente{
    text-decoration: none;
    color: #CDCDCD;
    background-color: #364156;
    padding: 0.4em 1em 0.4em 1em;
    border: 2px solid #CDCDCD;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}
.btn-anterior:hover, .btn-siguiente:hover{
    background-color: #CDCDCD;
    color: #393939;
}
a{
    text-decoration: none;
}

.ver-mas{
    color: #393939;
}
.link-acciones-usuario{
    background-color: #cdcdcd;
    color: #393939;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 15px;
}
.form-datos-usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}
.form-datos-usuario input{
    margin: 0.6em 0;
    border-style: none;
    border-radius: 15px;
    height: 2.5em;
    text-align: center;
}
.form-datos-usuario input:disabled{
    background-color: #adadad;
}
.foto-perfil{
    width: 12em;
}
.papelera_usuario{
    width: 2em;
}
.respuesta-usuario{
    background-color: #cdcdcd;
    overflow-wrap: anywhere;
}
.btn-eliminar-pregunta-usuario{
    background-color: #cdcdcd;
}
.btn-ver-mas{
    text-decoration: none;
    color: #364156;
    background-color: #cdcdcd;
    padding: 0.4em 1em 0.4em 1em;
    border: 2px solid #364156;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}

.btn-ver-mas:hover{
    background-color: #364156;
    color: #CDCDCD;
}

.btn-enviar-foto{
    text-decoration: none;
    color: #cdcdcd;
    background-color: #363636;
    padding: 0.4em 1em 0.4em 1em;
    border: 2px solid #cdcdcd;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}

.btn-enviar-foto:hover {
    background-color: #cdcdcd;
    color: #364156;
}