*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodyInicioSesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #393939;
    height: 100vh;
    width: 100vw;
}
.inicioSesion{
    display: block;
    text-align: center;
    background-color: #364156;
    padding-top: 50px;
    width: 50%;
    height: 50%;
    box-shadow: 5px 5px 10px #dff8eb56;
    border-radius: 15px;
}
.inicioSesion h1{
    color: #CDCDCD;
    padding-top: 25px;
    padding-bottom: 25px;
}
.inicioSesion hr{
    margin: 0 auto;
    width: 75%;
}
.campos{
    padding-top: 75px;
}
.loginNombre{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    padding: 20px 40px;
    font-size: larger;
    font-weight: bold;
    background-color: #CDCDCD;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #393939;
}
.loginContrasenna{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    padding: 20px 40px;
    font-size: larger;
    font-weight: bold;
    background-color: #CDCDCD;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #393939;
}
.loginEntrar{
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    padding: 15px 138px;
    font-size: larger;
    font-weight: bold;
    background-color: #CDCDCD;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #393939;
}
body{
    background-color: #393939;
    height: 100vh;
    width: 100vw;
}
/*Aqui estoy modificando el header con el titulo de la empresa y su eslogan*/
.div-header{
    gap: 20px;
    display: flex;
    margin: 0 auto;
    width: 40%;
    height: 10%;
    background-color: pink;
}
.eslogan{
    margin-top: 9px;
    font-family: "Italianno", cursive;;
}
/*Aqui dejo de modificar el header*/
/*Aqui estoy modificando el nav*/
.div-nav{
    margin: 0 auto;
    width: 40%;
    background-color: green;;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}
li{
    list-style: none;
}
.buscar{
border-radius: 25px;
}
.div-lupa{

    width: 40px;
    padding: 5px;
}
.lupa{
    width: 100%;
    height: auto;
}
hr{
    width: 1px;
    height: 15px;
    transform: rotate(180deg);
}
.div-userLogo{
    width: 40px;
    padding: 5px;
}
.persona{
    width: 100%;
    height: auto;
}

/* aqui empiezo a modifiar el footer */
footer{
    background-color: #364156;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-areas: 
    "logo form form rrss";
    gap: 2em;
    padding: 1em;
    height: 40vh;
    color: white;
    letter-spacing: .1em;
}

.logo-copyright{
    grid-area: logo;
    border-right: 1px solid white;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.logo-copyright p{
    font-size: .5em;
}


.contacto{
    grid-area: form;
    margin: 1em;
    border-right: 1px solid white;
    padding-right: 4em;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    margin-top: .3em;
    border-radius: 10%;
}

.rrss{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: rrss;
    padding-right: 2em;
}

.formulario-contacto input{
    height: 2em;
}

.formulario-contacto textarea{
    resize: none;
}

.formulario-contacto textarea, .correo-contacto{
    background-color: #cdcdcd;
    border: none;
    border-radius: .3em;
    width: 100%;
}

.btn-contacto{
    width: 50%;
    background-color: #cdcdcd;
    border: none;
    border-radius: .3em;
}

.formulario-contacto textarea::placeholder, .formulario-contacto input::placeholder{
    padding-left: .2em;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.instagram, .twitter, .facebook{
    height: 3em;
}