*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #393939;
    height: 100vh;
    width: 100%;
}
/*Aqui estoy modificando el header con el titulo de la empresa y su eslogan*/
.div-header{
    color: white;
    padding-bottom: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #364156;
}
.eslogan{
}
/*Aqui dejo de modificar el header*/
/*hr*/
.hr-nav{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 50%;
}
/*Aqui estoy modificando el nav*/
.div-nav{
    color: white;
    margin: 0 auto;
    width: 100%;
    background-color: #364156;
    padding-top: 15px;
    padding-bottom: 25px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
li{
    list-style: none;
}

ul a{
    text-decoration: none;
    color: white;
}

.div-buscar{
    display: flex;
    width: 40%;
    height: 20px;
}
.buscar{
border-radius: 25px;
}
.lupa{
    width: 100%;
    height: auto;
}
.linea-nav{
    width: 1px;
    height: 30px;
    transform: rotate(180deg);
}
.div-sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
}
.persona{
    width: 20%;
    height: auto;
}

/* aqui empiezo a modifiar el footer */
footer{
    background-color: #364156;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-areas: 
    "logo form form rrss";
    gap: 2em;
    padding: 1em;
    height: 40vh;
    color: white;
    letter-spacing: .1em;
}

.logo-copyright{
    grid-area: logo;
    border-right: 1px solid white;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.logo-copyright p{
    font-size: .5em;
}


.contacto{
    grid-area: form;
    margin: 1em;
    border-right: 1px solid white;
    padding-right: 4em;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    margin-top: .3em;
    border-radius: 10%;
}

.rrss{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: rrss;
    padding-right: 2em;
}

.formulario-contacto input{
    height: 2em;
}

.formulario-contacto textarea{
    resize: none;
}

.formulario-contacto textarea, .correo-contacto{
    background-color: #cdcdcd;
    border: none;
    border-radius: .3em;
    width: 100%;
}

.btn-contacto{
    width: 50%;
    background-color: #cdcdcd;
    border: none;
    border-radius: .3em;
}

.formulario-contacto textarea::placeholder, .formulario-contacto input::placeholder{
    padding-left: .2em;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.instagram, .twitter, .facebook{
    height: 3em;
}